# app
beautifulsoup4==4.12.3         # for parsing HTML content
html2text==2024.2.26           # for converting HTML to markdown
youtube-transcript-api==0.6.2  # for fetching YouTube transcripts

# packaging, environment
python-dotenv==1.0.1           # for loading environment variables
setuptools==75.1.0             # for packaging

# dev/tests
loguru==0.7.1                   # for enhanced logging (optional)
mypy==1.11.2                    # for static type checking
pylint==3.2.6                   # for linting
pytest==8.3.2                   # for testing
pytest-icdiff==0.9              # for image comparison in tests
pytest-loguru==0.4.0            # for loguru to pytest's caplog fixture
redis==5.0.8                    # for caching
requests==2.32.3                # for making HTTP requests
tenacity==9.0.0                 # for retrying failed tests
